* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.box {
  width: 50%;
  height: 50%;
  background-color: gray;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
}


.box-1 {
  background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2Psau76X1ZbxsjAwMAAYoMZMA5IAi4DU8WIrgUAydYVMdMoNVIAAAAASUVORK5CYII=) repeat;
  width: 50%;
  height: 75%;
}

.box-2 {
  background-color: hsl(186, 20%, 62%);
  width: 50%;
  height: 25%;
}

.box-entertainment {
  position: relative;
  width: 35%;
  height: 33.3%;
  background: hsl(291, 53%, 62%);
}

.box-sm {
  position: absolute;
  top: 33.3%;
  left: 50%;
  height: 33.3%;
  background:hsl(0, 88%, 51%);
}

.box-canvas {
  position: absolute;
  top: 66.6%;
  left: 50%;
  width: 25%;
  height: 33.3%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAH0lEQVQoU2P8////fwYiACP1FXYuejBQVlPfM1Q3EQCzvybxmvKVZwAAAABJRU5ErkJggg==)repeat;
}

.box-messaging {
  position: absolute;
  top: 66.6%;
  left: 75%;
  width: 25%;
  height: 33.3%;
  background-color: hsl(238, 30%, 67%);
  font-size: 20px;
}

.box-etwords {
  position: absolute;
  top: 0%;
  left: 85%;
  width: 15%;
  height: 33.3%;
  background-color:hsl(291, 53%, 62%);
  font-size: 20px;
}



BOX CONTENTS

.box-content {
  font-size: 30px;
  background-color: blue;

}

.box-contentsm {
  font-size: 20px;
  text-align: center;
  font-family: 'K2D', sans-serif;

}

.box-contentsp {
  font-size: 25px;
  background-color:hsl(313, 50%, 27%);
  text-align: center;
  font-family: 'Work Sans', sans-serif;

}

.box-contentmes {
  font-size: 25px;
  background-color: hsl(238, 78%, 67%);
  text-align: center;
  font-family: 'Work Sans', sans-serif;

}

.box-content2 {
  font-size: 20px;
  background-color: hsl(186, 20%, 40%);
  text-align: center;
  font-family: 'K2D', sans-serif;

}

.box-contentgs {
  font-size: 30px;
  background-color: gray;
  text-align: center;
  font-family: 'K2D', sans-serif;

}

.corporate {
  background-color: black;
  font-size: 18px;
}

.box-contentmu {
  background-color: hsl(313, 50%, 27%);
  text-align: center;
  font-size:20px;
  font-family: 'Work Sans', sans-serif;
}














